---
import I18nKey from "@i18n/i18nKey";
import { i18n } from "@i18n/translation";
import { formatDateToYYYYMMDD } from "@utils/date";
import { getCategoryUrl, getTagUrl, url } from "@utils/url";
import { Icon } from "astro-icon/components";
import { umamiConfig } from "@/config";

export interface Props {
	published: Date;
	updated?: Date;
	category?: string | null;
	tags?: string[];
	hideUpdateDate?: boolean;
	hideTagsForMobile?: boolean;
	isHome?: boolean;
	className?: string;
	slug?: string;
	postUrl?: string;
}

const {
	published,
	updated,
	category,
	tags,
	hideUpdateDate,
	hideTagsForMobile,
	isHome,
	className = "",
	slug,
	postUrl,
} = Astro.props;
const finalPostUrl = postUrl || (slug ? url(`/posts/${slug}/`) : "");

// 解析 umami
const umamiEnabled = umamiConfig.enabled || false;
const umamiWebsiteId =
	umamiConfig.scripts.match(/data-website-id="([^"]+)"/)?.[1] || "";
const umamiApiKey = umamiConfig.apiKey || "";
const umamiBaseUrl = umamiConfig.baseUrl || "";
---

<div class={`flex flex-wrap text-neutral-500 dark:text-neutral-400 items-center gap-4 gap-y-2 ${className}`}>
    <div class="flex items-center gap-1">
        <div class="text-xl">
            <Icon name="material-symbols:calendar-today-outline" />
        </div>
        <span class="text-sm font-medium">{published && formatDateToYYYYMMDD(published)}</span>
    </div>

    <div class="flex items-center gap-1">
        <div class="text-xl">
            <Icon name="material-symbols:folder-open-outline" />
        </div>
        <a href={getCategoryUrl(category)} class="text-sm font-medium hover:text-[var(--primary)] whitespace-nowrap transition-colors">
            {category || i18n(I18nKey.uncategorized)}
        </a>
    </div>

    <div class:list={["flex items-center gap-1", { "hidden md:flex": hideTagsForMobile }]}>
        <div class="text-xl">
            <Icon name="material-symbols:tag" />
        </div>
        <div class="flex flex-row flex-nowrap items-center">
            {tags && tags.length > 0 && tags.map((tag, i) => (
                <div class:list={{"hidden": i == 0}} class="mx-1.5 text-[var(--primary)]">/</div>
                <a href={getTagUrl(tag)} class="text-sm font-medium hover:text-[var(--primary)] whitespace-nowrap transition-colors">
                    {tag}
                </a>
            ))}
            {!(tags && tags.length > 0) && <div class="transition text-neutral-400 dark:text-neutral-500">{i18n(I18nKey.noTags)}</div>}
        </div>
    </div>

    {!hideUpdateDate && updated && updated.getTime() !== published.getTime() && (
        <div class="flex items-center gap-1">
            <div class="text-xl text-amber-500/90 dark:text-amber-400/90">
                <Icon name="material-symbols:update" />
            </div>
            <span class="text-sm font-medium text-amber-500/90 dark:text-amber-400/90">
                {formatDateToYYYYMMDD(updated)}
            </span>
        </div>
    )}

    {umamiEnabled && !isHome && (
         <div class="flex items-center gap-1" id={`page-views-container-${slug}`} data-page-url={finalPostUrl}
             data-i18n-views={i18n(I18nKey.views as any)} data-i18n-visitors={i18n(I18nKey.visitors as any)}>
            <div class="text-xl">
                <Icon name="material-symbols:bar-chart-rounded" />
            </div>
            <span class="text-sm font-medium page-views-display">...</span>
        </div>
    )}
</div>